:root{
    --primary-color: #00A4E5;
    --secondary-color: #777777;
    --text-color:#A4A4A4;
    --bg-color:#F6F6F6;
    --blue_color:#00425C;
    --aque-color:#DCECF3;
    --blace-color:#00212E;
    --danger-color:#FB3748;
    --gry_color:#8E8E8E;
    --bg_white:#FFFFFF;
    --gray-color:#606060;
    --neutral-color:#4C4748;
    --light_gray:#E8E8E8;
    --blue-text-color:#0083B7;
    --undo-color:#31B4E8;
    --dark-color:#333333;
    --bg-green-color:#ECFDF3;
    --green-color:#027A48;
    --bullet-color:#12B76A;
    --delete-color:#D00416;
    --light_color:#D0D5DD;
    --confirm_color:#067647;
    --bg_confirm:#BEFFE4;
    --arrive_color:#FF8C00;
    --bg-arrive:#FFE6C8;
    --concel_color:#848282;
    --bg_pending:#F1F8FE;
    --bg_appintment:#DCECF3;
    --green_color:#006289;
   --page_name_color: #00425C;
   --disables-button-color:#93D5EF;
   --blur-dager :#FFD8DB;
   --border-gray :#d3cfcf;
   --deleted_disabled :#D2D2D2;
   --bg-logins:#f8f9fa;
   --text-logins:#4A4A4A;
   --baby_blue_bg : #ECF9FF;
   --action_cofurming:#84EBB4;
   --action_canceling:#FFF2BC;
   --action_cancelingtext:#A56619;
   --bg-teeth:#D4D4DF;
   --back-teeth:#EDEDED;
   --teath:#f9f9f9;
}   