
.info_acc img{
    width: 170px;
    height: 170px;
    border-radius: 50%;
}
.info_acc .info h2{
    font-size: 22px;
    font-weight: 500;
    color: var(--dark-color);
}
.info_acc .info p{
    font-size: 14px;
    font-weight: 400;
    color: var(--blace-color);
}
.profile_setting h3{
    font-size: 16px;
    font-weight: 500;
    color: var(--blace-color);
}
.profile_setting li a{
    font-size: 16px;
    font-weight: 600;
    color: var(--secondary-color);
}
.profile_info label{
    font-size: 14px;
    font-weight: 500;
    color: var(--dark-color);
}
.profile_info input{
    font-size: 13px;
    font-weight: 400;
    color: var(--blace-color);
}
.save_changes
{
    all: unset;
    font-size: 20px;
    font-weight: 500;
    color: var(--blue-text-color);
    cursor: pointer;
    text-align: end;
}
.change_image{
    all: unset;
    cursor: pointer;
    position: absolute;
    right: 10%;
    bottom: 10%;
    background-color: var(--blace-color);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

@media (max-width:768px) {
    .save_changes{
        font-size: 10px;
        color: var(--blue_color);
        background-color: var(--aque-color);
          }
}
@media (max-width:1199.98px) { 


.title_table h2{
    font-size: 14px;
    font-weight: 500;
    color: var(--blace-color);
  }
  .title_table p,.title_text{
    font-size: 13px;
    font-weight: 500;
    color: var(--blace-color);
  }
  .title_table p:first-child{
    font-size: 12px;
    font-weight: 500;
    color: var(--gry_color);
  }

}